*{
    font-family: Arial;
}
.logos{
    height:60px;
    width:100%;
}
.logos img{
    margin-left:565px;
    height:70px;
    width:160px;  
    cursor:pointer;
}
.Account{
    height:600px;
    width:300px;
    border:2px solid rgb(245, 242, 242);
    margin: auto;
    border-radius: 7px;
    padding:20px 26px 20px 26px;
    align-items: center;    
}
.input{
    margin-top:8px;
    width:280px;
    height:20px;
    padding:4px 7px 3px 7px;   
    background-color: #ffffff;
    margin-bottom: 24px;
    border:1px solid rgb(119, 114, 114); 
    outline: none;
    border-radius: 3px;
}
.input:hover{
    background-color: rgb(242, 255, 249);
    box-shadow: 0px 0px 2px 3px rgb(185, 226, 243);
    border:1px solid rgb(165, 155, 155); 
    outline: none;
    color:#111111;
}
.button{
    background-color:#ffd814;
    width:300px;;
    height:30px;
    margin-top:-8px;
    padding:1px 6px 1px 6px;
    border-radius: 8px;
    color:#111111;
    box-shadow: 0px 0px 2px 2px rgb(243, 240, 240);
    cursor: pointer;
    border:1px solid rgb(165, 155, 155);
    outline: none;
}
.button:hover{
    background-color:#f8d62c;
    border:1px solid rgb(165, 155, 155);
    outline: none;
}
.text{
    font-size: 0.8rem;
    margin:18px 0px 0px 3px;
    color:#111111;
}
.text a{
    text-decoration: none;
    color:#0066c0;
}
.text a:hover{
    text-decoration: underline;
    color:#c45500;
}
.hr{
    opacity: 0.2;
    padding-top:20px;
    width:300px;
}
.buying{
    padding-top:10px;
    font-size: 0.9rem;
    font-weight: 600;
    color:#111111;
}
.shop{
    padding-top:10px;
}
.shop a{
  
    text-decoration: none;
    color:#0066c0;
    font-size: 0.9rem;
    cursor: pointer;
}
.shop a:hover{
    text-decoration: underline;
    color:#c45500;
}
.hr1{
    opacity: 0.2;
    padding-top:20px;
    width:300px; 
    box-shadow: 0px 0px 2px 2px rgb(243, 240, 240);
}
.help{
    margin-top:-15px;
    margin-left:152px;
    font-size: 0.85rem;

}
.help a{
    text-decoration: none;
    color:#0066c0;
    cursor: pointer;
}
.help a:hover{
    text-decoration: underline;
    color:#c45500;
}
.hr2{
    margin-top:32px;
    box-shadow: 0px 0px 2px 2px rgb(243, 240, 240);
    width:800px;
    opacity:0.2;
    padding-left:250px;
}
.footer{
    margin-left:520px;
    margin-top:20px;
    font-size: 0.75rem;
}
.footer a{
    text-decoration: none;
    color:#0066c0;
    cursor: pointer;
}
.footer a:hover{
    text-decoration: underline;
    color:#c45500;
}
.foot{
    font-size: 0.7rem;
    margin-top:16px;
    margin-left:520px;
    color:#555555;
}